<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>KAKA - UI工程师伴侣 (v0.2.2 BETA)</title>
  <link rel="stylesheet" href="css/style.css">
<script>
// 阻止默认事件
window.addEventListener("dragover", function(e){e.preventDefault();}, false);
window.addEventListener("drop", function(e){e.preventDefault();}, false);
</script>

</head>
<body id="j-vue">
  <b class="page-mask" id="js_pageMask" v-show="control.pageMask"></b>
  <div class="layout-h-wrap">

    <div class="col-main">

      <!-- 可拖拽处理区域 -->
      <div class="main-wrap layout-v-wrap " id="js_dropZone" v-bind:class='{"dropEnd":control.dropEnd}'>
        <!-- 拖拽按钮 -->
        <div class="drag-area"></div>
        <!-- 顶部条 -->
        <div class="main-top-bar">
          <div class="inner">
            <!-- <input type="text"> -->
          </div>
          <div class="actions">
            <!-- <a href="javascript:;" class="btn-location" tabindex="-1" id="js_locationBtn" data-placement="bottom" data-toggle="tooltip" data-original-title="指定项目路径(实现中...)"></a> -->
            <a href="javascript:;" class="btn-open-file" tabindex="-1" id="js_openFilesBtn" v-on:click="openFiles($event)";data-placement="bottom" data-toggle="tooltip" data-original-title="添加待处理文件"></a>
          </div>
        </div>

        <!-- log展示区域 -->
        <div class="show-log-area" id="js_showLogArea">
          <div class="mod-file-list mod" id="js_fileList" v-bind:class="{'none':!control.$fileList.filesInfoHtml.length}">
            <h3>待处理文件：</h3>
            <ul class="file-list">
              <li class="item" v-for="fileInfoHtml in control.$fileList.filesInfoHtml" track-by="$index" >
                {{ fileInfoHtml }}
              </li>
            </ul>
          </div>
          <div class="mod-log mod" id="js_logBox">

          </div>
          <!-- 提单信息摘要 -->
          <div class="mod-summary mod" id="js_summaryBox" v-bind:class="{'none':control.summaryBoxHide}">
            <div class="summary-item web-item">
              <span class="title">文件地址</span>
              <a href="javascript:;" class="btn-view" tabindex="-1" id="js_viewWeb" data-placement="top" data-toggle="tooltip" data-original-title="查看详情"></a>
              <div class="some-web-files" id="js_webFilesShowBox"></div>
            </div>
            <div class="summary-item bill-item">
              <span class="title">提单路径</span>
              <a href="javascript:;" class="btn-view" tabindex="-1" id="js_viewBill" data-placement="top" data-toggle="tooltip" data-original-title="查看详情"></a>
              <a href="javascript:;" class="btn-copy" tabindex="-1" id="js_copyBill" data-placement="top" data-toggle="tooltip" data-original-title="复制"></a>
            </div>
          </div>
        </div>

        <div class="detail-panel" id="js_detailPanel">
          <a href="javascript:;" class="btn-close" title="关闭"></a>
          <div class="inner">

          </div>
        </div>

        <div class="btn-group">
          <button type="submit" class="btn-block btn-exec" id="js_execBtn" v-bind:class="{'none':!config.useClickMode}" v-on:click="exec_file">{{control.execBtnText}}</button>
        </div>
        
      </div>

      <b class="drop-mask" id="js_dropMask" v-show="control.dropMask"></b>
      
    </div>
    
    <!-- lod module -->
    <div class="col-aside col-aside-sub">
      <div class="layout-v-wrap settings-wrap">
        <!-- 顶部条 -->
        <div class="main-top-bar">
          <div class="inner" id="j-topbar">
              <a href="javascript:void(0);" title="详细信息" v-on:click="kaka_info"><i class="btn-info"></i></a>
              <a href="javascript:void(0);" title="检查更新" v-on:click="kaka_update"><i class="btn-update"></i></a>
          </div>
          <div class="actions">
            <!-- <a href="javascript:;" class="btn-location" tabindex="-1" id="js_locationBtn" data-placement="bottom" data-toggle="tooltip" data-original-title="定位项目路径"></a>
            <a href="javascript:;" class="btn-open-file" tabindex="-1" id="js_openFilesBtn" data-placement="bottom" data-toggle="tooltip" data-original-title="添加待处理文件"></a> -->
          </div>
        </div>
        <!-- 配置 -->
        <div class="mod-set-username mod">
          <div class="mod-inner">
            <div class="input-wrap">
              <input type="text" tabindex="-1" id="js_setUserName" v-model="config.userName" class="input-username" placeholder="rtx名">
            </div>
          </div>
        </div>

        <div class="mod-set-normal mod">
          <div class="mod-inner">
            <ul class="setting-list">
              <li class="item">
                <label class="inner"><input type="checkbox" tabindex="-1" v-model="config.mobileModel" v-on:change="update_data">PC模式</label>
              </li>
              <li class="item">
                <label class="inner"><input type="checkbox" tabindex="-1" v-model="config.doImageMinfy" v-on:change="update_data">不压缩图片</label>
              </li>
              <li class="item">
                <label class="inner"><input type="checkbox" tabindex="-1" v-model="config.replaceOriginal" v-on:change="update_data">替换原文件(图片压缩后)</label>
              </li>
              <li class="item">
                <label class="inner"><input type="checkbox" tabindex="-1" v-model="config.syncResource" v-on:change="update_data">同步资源图片</label>
              </li>
              <li class="item">
                <label class="inner"><input type="checkbox" tabindex="-1" v-model="config.checkRelatedCss" v-on:change="update_data">检查CSS关联性</label>
              </li>
              <li class="item">
                <label class="inner"><input type="checkbox" tabindex="-1" v-model="config.to1x" v-on:change="update_data">@Nx转@1x图</label>
              </li>
              <li class="item">
                <label class="inner"><input type="checkbox" tabindex="-1" v-model="config.noMinJS" v-on:change="update_data">不压缩JS</label>
              </li>
              <li class="item">
                <label class="inner"><input type="checkbox" tabindex="-1" v-model="config.noMangleJS" v-on:change="update_data">不混淆JS</label>
              </li>
              <li class="item">
                <label class="inner"><input type="checkbox" tabindex="-1" v-model="config.jsTimeTag" v-on:change="update_data">为CSS添加供JS获取的时间戳</label>
              </li>
              <li class="item">
                <label class="inner"><input type="checkbox" tabindex="-1" v-model="config.useClickMode" v-on:change="update_data">跨目录文件处理</label></li>
            </ul>
          </div>
        </div>

        <div class="mod-set-time mod">
          <div class="mod-inner">
            <ul class="setting-list">
              <li class="item">
                <label class="inner"><input type="checkbox" tabindex="-1" v-model="config.useTimestamp" v-on:change="update_data">Sprite文件名加时间戳</label>
              </li>
              <li class="item">
                <label class="inner"><input type="checkbox" tabindex="-1" v-model="config.useTimestampCss"  v-on:change="update_data">CSS文件名加时间戳</label>
              </li>
              <li class="item">
                <label class="inner"><input type="checkbox" tabindex="-1" v-model="config.timestampAddUserTag" v-on:change="setTimestamp">时间戳加用户标记</label>
              </li>
            </ul>
            <div class="input-wrap">
              <input type="text" tabindex="-1" class="input-timeshow" v-on:change="update_data" v-model="config.timestamp">
              <a href="javascript:;" tabindex="-1" class="btn-updata-time" title="更新时间戳" v-on:click="update_timestamp"></a>
            </div>
          </div>
        </div>
        
        <!-- ftp选择 -->
        <div class="mod-ftp mod config-enable" v-bind:class="{'editing':config.ftp_editing.addTime}" id="js_ftp">
          <div class="mod-inner layout-v-wrap">
            <div class="mod-title">
              <h3 class="txt">保存到:</h3> 
              <div class="actions">
                <a href="javascript:;" title="添加配置" tabindex="-1" class="btn-add" v-on:click="add_ftp($event)"></a>
<!--                 <a href="javascript:;" data-placement="top" data-toggle="tooltip" data-original-title="开启配置" tabindex="-1" class="btn-config"></a> -->
              </div>
            </div>
            <!-- <div><button id="js_openFile">Open</button></div>
            <div><input type="file" multiple name="" id=""></div> -->
            <ul class="ftp-list setting-list">
              <li class="item local-item">
                <label class="inner"><input type="checkbox" tabindex="-1" v-model="config.saveLocal" vv-on:change="select_ftp" ><span class="txt">本地</span></label>
              </li>
            </ul>
          </div>
            <!-- ftp配置浮层 -->
          <div class="ftp-config config-panel"  id="js_ftp">
            <div class="ftp-info">
              <ul class="list">
                <li class="item">
                  <span class="name">名称:</span>
                  <span class="input-wrap">
                    <input type="text" class="input" required v-model="config.ftp_editing.name" placeholder="测试环境">
                  </span>
                </li>
                <li class="item">
                  <span class="name">网址:</span>
                  <span class="input-wrap">
                    <input type="text" class="input" v-model="config.ftp_editing.website" placeholder="http://www.demo.com">
                  </span>
                </li>
                <li class="item">
                  <span class="name">主机:</span>
                  <span class="input-wrap">
                    <input type="text" class="input" required v-model="config.ftp_editing.host" placeholder="127.0.0.1">
                  </span>
                </li>
                <li class="item">
                  <span class="name">端口:</span>
                  <span class="input-wrap">
                    <input type="text" class="input" v-model="config.ftp_editing.port" placeholder="21">
                  </span>
                </li>
                <li class="item">
                  <span class="name">用户名:</span>
                  <span class="input-wrap">
                    <input type="text" class="input" v-model="config.ftp_editing.user" placeholder="admin">
                  </span>
                </li>
                <li class="item">
                  <span class="name">密码:</span>
                  <span class="input-wrap">
                    <input type="text" class="input" v-model="config.ftp_editing.pw" placeholder="*****">
                  </span>
                </li>
                <li class="item">
                  <span class="name">提单路径:</span>
                  <span class="input-wrap">
                    <input type="text" class="input" v-model="config.ftp_editing.bill" placeholder="/htdocs">
                  </span>
                </li>
                <li class="item">
                  <span class="name">白名单:</span>
                  <span class="input-wrap">
                    <textarea class="input" v-model="config.ftp_editing.wl" placeholder="porject-1,project-2(英文逗号分隔)"></textarea>
                  </span>
                </li>
              </ul>
            </div>
            <div class="btn-wrap">
              <button type="button" class="btn btn-primary js_btnOk" v-on:click="comfirm_ftp()">确定</button>
              <button type="button" class="btn btn-default js_btnCancel"  v-on:click="cancel_ftp">取消</button>
            </div>
          </div>

        </div>

      </div>
    </div>
    
  </div>


<script type="text/javascript">
    var date = new Date();
    var time = date.getTime();
    document.write('<script type="text/javascript" src="https://tonytony.club/tool/kaka/version.js?v='+time+'"><\/script>');
</script>
<script src="./js/vendor/jquery.min.js" onload="window.$ = window.jQuery = module.exports;" type="text/javascript"></script>
<script type="text/javascript" src="./js/vendor/vue.js"></script>
<script src="./js/vendor/tooltip.js" type="text/javascript"></script>
<script src="./js/vue-new.js"></script>
</body>
</html>